.toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.toggle-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.toggle-buttons button.active {
  background: linear-gradient(10deg, #ea00ff, #934e99, #03d5ff, #03d5ff);
  color: white;
}
.toggle-panel {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  background: linear-gradient(4deg, #ea00ff, #934e99, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(224, 185, 185, 0.5));
}
.form-container form {
  text-align: center;
}

.form-container form input {
  width: 100%;
  margin-bottom: 15px;
}

.form-container form button {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.form-container h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  background: linear-gradient(4deg, #ea00ff, #934e99, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(224, 185, 185, 0.5));
}

.form-container span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  color: #8964b0;
}
