@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");

/* Open Sans font for paragraphs */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.toggle-buttons button {
  min-width: 200px;
  padding: 8px 18px;
  border: 1px solid #da4167;
  border-radius: 25px;
  font-size: 18px;

  color: #3d2645;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 20px;
}

.toggle-buttons button.active {
  min-width: 200px;
  padding: 8px 18px;
  border: 1px solid #da4167;
  border-radius: 25px;
  font-size: 18px;
  color: #3d2645;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 20px;
}
.toggle-panel {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background: linear-gradient(4deg, #ea00ff, #934e99, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(224, 185, 185, 0.5));
}
.form-container form {
  text-align: center;
}

.form-container form input {
  width: 100%;
  margin-bottom: 15px;
}

.form-container form button {
  min-width: 200px;
  padding: 8px 18px;
  border: 1px solid #da4167;
  border-radius: 25px;
  font-size: 18px;
  color: #3d2645;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 20px;
}
.form-container h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  background: linear-gradient(4deg, #ea00ff, #934e99, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(224, 185, 185, 0.5));
}

.form-container span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  color: #8964b0;
}
