@import url("https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700");

#core-concepts {
  display: flex;
}

#core-concepts h2 {
  color: #1a091b;
  font-family: "Archivo", sans-serif;
}

#core-concepts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.core-concept-item {
  flex: 1;
}
