@import url("https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700");

#core-concepts {
  display: flex;
  justify-content: center;
  text-align: center;
}
h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #6a6c6f;
  font-family: "Archivo", sans-serif;
  background-color: white;
}

#core-concepts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.core-concept-item {
  flex: 1;
}
