body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

button {
  min-width: 200px;
  padding: 8px 18px;
  border: 1px solid #da4167;
  border-radius: 25px;
  font-size: 18px;
  color: #3d2645;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  color: #666;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5c6bc0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3f51b5;
}
