header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

.header-title {
  margin: 0;
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "Archivo", sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #852d8d, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text; /* Safari/Chrome */
  -moz-background-clip: text; /* Firefox */
  background-clip: text; /* Standard */
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(14, 49, 118, 0.457));
}

.header-description {
  margin: 0;
  font-size: 1.25rem;
  color: rgb(42, 33, 104);
  font-family: "Open Sans", sans-serif;
}
